
.top{
    height: 120px;
}

.top_left{
   width: 20%;
   float:left;
}

.top_right{
   width: 80%;
   float:left;
}

.top_right h1{
    height: 100px;
    line-height: 100px;
    margin-left:50px;
    color: darkred;
}

.content{
    position: relative;
    padding-left: 300px;
    width: 400px;
    margin: 30px auto;
}

.pic{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
}

.viewcart{
    position: fixed;
    top: 30px;
    right: 30px;
}

.title{
    color: brown;
    text-align: center;
}